/* Stile pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vh;
    font-weight: 600;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #fff;
    background-color: #0061ff;
}

/* Stile header */

/* Stile barra di navigazione */
#nav-container {
    height: 8vh;
    position: relative;
}

#nav {
    width: 100%;
    line-height: 8vh;
    background-color: #fff;
    vertical-align: middle;
    padding: 0 2%;  
    position: fixed;
    z-index: 999;
}

#nav ul {
    list-style-type: none;
}

#nav ul li {
    display: inline-block;
}

#nav ul li a {
    text-decoration: none;
    color: #000;
    margin-left: 2vw;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
}

#nav .button {
    background-color: #0061ff;
    color: #fff;
}

#nav .logo {
    float: left;
    height: 4vh;
    margin: 2vh 0;
    object-fit: none;
}

#nav .left {
    float: left;
}

#nav .right {
    float: right;
}

/* Stile hero */
#hero {
    width: 100%;
    height: 75vh;
    background-color: #b4d0e7;
    padding: 4% 10%;
}

#hero h1 {
    font-size: 4.5em;
    margin-bottom: 4vh;
}

#hero .float-left {
    float: left;
    width: 30%;
}

#hero .float-right {
    float: right;
    width: 60%;
    position: relative;
}

#hero p {
    margin-top: 2vh;
    margin-bottom: 4vh;
}

#hero img {
    margin-top: 2vh;
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
}

.fa-arrow-down {
    font-size: 3em;
    color: #000;
}

/* Stile contenuto */
.container {
    width: 60%;
    margin: 10vh auto;
}

.container h2 {
    font-size: 2.5em;
    margin-bottom: 5vh;
}

/* Stile checkbox */
.checkbox a {
    display: inline-block;
    padding: 6px;
    height: 4px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fff;
    margin-right: 2px;
}

.checkbox a:focus {
    padding: 3px;
    border: 4px solid #0061ff;
}

.checkbox span {
    margin-right: 3vw;
}

/* Stile tabelle piani tariffari */

.column {
    margin-top: 5vh;
    float: left;
    width: 30%;
    border: 1px solid #ccc;
    /* height: 130vh; */
}

.column.margin {
    margin: 5vh 5%;
}

.column.special {
    margin-top: 0;
    width: 100%;
}

.column > h5 {
    text-align: center;
    line-height: 2em;
    border-bottom: 1px solid #ccc;   
}

/* Stile testo tabelle piani tariffari */
.plan {
    width: 80%;
    min-height: 120vh;
    margin: 10% auto;
}

.plan *{
    margin-bottom: 2vh;
}
.plan h3 {
    font-size: 2em;
}

.plan h6 {
    margin-top: 2vh;
    margin-bottom: 4vh;
    color: #999;
}

.plan .data {
    width: 100%;
    font-size: 0.75em;
}

.data i {
    display: inline-block;
    width: 7%;
    margin-top: 0.25em;
    float: left;
}

.data span {
    display: inline-block;
    width: 93%;
    float: left;
}

.trial {
    margin: 4vh 0;
}

.buy-now span {
    display: inline-block;
    height: 50px;
    border-bottom: 1px solid #ccc;
}

.buy-now a {
    color: #0061ff;
}

.plan h4 {
    margin-top: 4vh;
}

.plan ul {
    list-style-type: none;   
}

.plan ul li i {
    color: #0061ff;
}

/* Stile tabella contatti info prezzi */
.plan.special {
    width: 94%;
    min-height: 10vh;
    margin: 2% auto;
}

.plan.special p {
    margin-top: 3vh;
    font-size: 0.80em;
}

.plan.special .contact {
    float: right;
}

/* Stile sezione contatti partner */
.partner-img {
    float: left;
    width: 50%;
    height: auto;
}

.partner-text {
    float: right;
    width: 45%;
}

.partner-text *{
    margin-top: 4vh;
}

.partner-text h3 {
    font-size: 2em;
}

.button.partner {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

/* Stile sezione funzionalita */
.column.box {
    border: none;
}

.box img {
    width: 100%;
    height: auto;
}

.box h3 {
    font-size: 1.5em;
    margin-bottom: 2vh;
}

/* Stile sezione FAQ */
.faq h3 {
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc; 
}

.faq h5 {
    line-height: 5em;
    border-bottom: 1px solid #ccc; 
    position: relative;
}

.faq i {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(0, -50%);
}